.header {
    padding-top: 36px;
    padding-bottom: 159px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__container {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 15px;
}





.nav__list {
    display: flex;
}

/* .nav__list-item:not(:last-child) {
    margin-right: 22px;
} */

.nav__list-link {
    display: inline-block;
    padding: 20px;
    background-color: transparent;
}

.nav__list-link:hover {
    background-color: #EDEDED;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-phone {
    display: inline-block;
    font-size: 18px;
    margin-right: 25px;
}

.header__contact-btn {
    padding: 15px 53px;
    background: var(--gradient-2, linear-gradient(135deg, #1A7041 0%, #0EAB1E 100%));
    box-shadow: var(--box-shadow);
    color: var(--white-color);
}

.burger-menu {
    display: none;
}

.burger-menu {
    width: 30px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 38px;
    z-index: 3;
}

.burger-menu span,
.burger-menu::before,
.burger-menu::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
    transition: all .35s ease-in-out;

}

.burger-menu::before,
.burger-menu::after {
    content: "";
}

.burger-menu::before {
    top: 0;
}

.burger-menu span {
    top: 9px;
    left: auto;
    right: 0;
    width: 75%;
}

.burger-menu::after {
    top: auto;
    bottom: 0;
}

.burger-menu.active span {
    transform: scale(0);
    transition: all .35s ease-in-out;

}

.burger-menu.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: all .35s ease-in-out;
}

.burger-menu.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all .35s ease-in-out;
}


